/* ************* declare font family ************* */
@font-face{
    src: url(../fonts/Roboto-Regular.ttf);
    font-family: 'Roboto';
}

/* ************* declare base ************* */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    background: url(../img/bg-img.jpg) no-repeat center;
    background-size: cover;
    font-family: 'Roboto';
    width: 100%;
    height: 100%;
}

/* ************* start header ************* */
#header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    position: relative;
}
#header .head{
    float: left;
    width: 22%;
    font-size: 15px;
    text-align: center;
    line-height: 1.5;
}
#header .head .logo-name{
    color: #ffffff;
}
#header .navbar{
    float: left;
    width: 63%;
    line-height: 2.9;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
}
#header .navbar .link{
    padding: 0 20px;
    color: #ffffff;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
#header .navbar .link:hover{
    color: #9a9898;
}
.search{
    float: right;
    width: 15%;
    font-size: 15px;
    text-align: center;
    line-height: 1.5;
}
.icon{
    color: #ffffff !important;
    line-height: 3;
    font-size: 22px;
    cursor: pointer;
}
.navbar .icon{
    color: #000 !important;
}
.menu{
    display: none;
}
/* End Header */

/* ************* start main content ************* */
.content{
    width: 100%;
    padding: 32px;
    display: flex;
    align-items: center;
}
.boxes{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.border-left {
    border-left: 5px solid #fff;
    color: #fff;
    border-radius: 3px;
}
.title {
    text-transform: capitalize;
    font-size: 50px;
    padding-left: 20px;
}
.para {
    font-size: 15px;
    padding-left: 20px;
    letter-spacing: 1px;
    color: #9a9898;
}
form.form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn {
    width: 150px;
    height: 45px;
    border-radius: 25px;
    margin-top: 30px;
    background: none;
    border: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    transition: all .3s ease-in-out;
}
.btn:focus{
    outline: none;
}
.btn:hover{
    color: #000;
    background-color: #fff;
    cursor: pointer;
}

.one-num {
    padding: 10px 0;
    font-size: 40px;
    float: left;
    width: 50%;
    color: #fff;
}
.six-num {
    font-size: 23px;
    color: #9a9898;
}
.icon-chevron {
    float: left;
    width: 50%;
    line-height: 2;
    color: #fff;
}
.chevron {
    font-size: 35px;
    color: #9a9898;
}
.num {
    display: inline;
    padding: 0 20px;
    font-size: 32px;
}
span.fas.fa-chevron-right.chevron{
    color: #fff;
}
.range {
    width: 295px;
    height: 10px;
    background: none;
    border: 1px solid #fff;
    border-radius: 25px;
}
.result {
    width: 65px;
    height: 8px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 25px;
}
.view{
    text-transform: capitalize;
    font-size: 22px;
    line-height: 4;
    color: #fff;
    transition: all .3s;
} 
.view:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #9a9898;
}
.tabs {
    padding-left: 40px;
}
span.tab{
    width: 5px;
    height: 35px;
    background-color: #9a9898;
    border: 1px solid #9a9898;
    border-radius: 25px;
    display: block;
    margin: 20px 0;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
span.tab:first-child{
    background: #ffff;
}
/* end main */

/* ************* start footer ************* */
footer {
    width: 80%;
    margin: auto;
    color: #fff;
    text-align: center;  
    background: rgb(14 14 14 / 40%);
    border-radius: 25px;
}
footer .container{
    height: 100%;
    padding: 20px 30px;
    margin-bottom: 32px;
}
.nav-footer{
    text-align: left;
    text-transform: uppercase;
}
.social{
    display: inline;
    color: #9a9898;
    font-size: 15px;
    padding-right: 37px;
}
.nav-footer .link{
    padding: 0 10px;
    color: #adacac;
    font-size: 15px;
    transition: all .3s ease-in-out;
}
.nav-footer .link:hover{
    color: #fff;
    text-decoration: underline;
}
.nav-footer .line{
    border-left: 1px solid #9a9898;
}
.all-contant-footer{
    width: 100%;
    height: 80px;
    margin-top: 32px;
}
.contant-footer{
    float: left;
    width: 47%;
    margin-left: 3%;
    text-align: left;
    line-height: 1.5;
}
.copy{
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 400;
}
.description{
    color: #9a9898;
    font-size: 15px;
}
.border{
    border-left: 1px solid #fff;
    padding-left: 40px;
}
.min{
    text-transform: lowercase;
}
/* end footer */